h1 {
  color: #fff;
  margin: 50px 0 8px;
  font-size: 24px;
}

.text {
  font-weight: 700;
  font-size: 32px;
}

header {
  display: flex;
  justify-content: center;
}

.log-out-button {
  position: absolute;
  right: 12px;
  top: 16px;
}
