<div *ngIf="avatar; else loadingBlock">
  <img class="img-background" src="{{avatar!.backgroundUrl}}">
  <img class="back-arrow" (click)="redirect()" src="../../../assets/images/back-arrow.jpeg">
  <img class="img-profile" src="{{avatar!.smallUrl}}">
  <div class="log-out-button">
    <app-text-container (click)="logOut()" [text]="'Log Out'" [containerColor]="'#32B4CC'"></app-text-container>
  </div>

  <main>
    <div class="row">
      <div class="column">
        <div class="welcome-text">Welcome to</div>
        <div class="welcome-text">{{avatar!.name}}!</div>
      </div>
      <div class="column">
        <div class="level-text">Level:</div>
        <div class="level-text" style="color: {{color}}">{{avatar!.level}}</div>
      </div>
    </div>
    <div>
      <div class="bio-title">Bio</div>
      <app-text-container [text]="avatar!.shortBio" [containerColor]="'#333333'"></app-text-container>
      <div class="row">
        <app-text-container [text]="avatar!.age + ' years old'" [containerColor]="'#333333'"></app-text-container>
        <app-text-container [text]="'Net worth: ' + avatar!.netWorth" [containerColor]="'#333333'"></app-text-container>
      </div>
    </div>
    <div class="button-container">
      <app-text-container (click)="goTo()" [text]="'Reshape Yourself'" [containerColor]="'#32B4CC'"></app-text-container>
    </div>
  </main>
</div>
<ng-template #loadingBlock>
  <app-loader></app-loader>
</ng-template>
